@model Reservas_de_Canchas.Models.Turno

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Turno</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmailCliente" class="control-label"></label>
                @*<select asp-for="EmailCliente" class ="form-control" asp-items="ViewBag.EmailCliente"></select>*@
                @using (var db = new EmpresaContext())
                {
                    <select asp-for="EmailCliente" class="form-control">
                        @foreach (var item in db.Cliente.ToList())
                        {
                            <option value="@item.Email"> "@item.Email" </option>
                        }
                    </select>
                }
            </div>
            <div class="form-group">
                <label asp-for="NroCancha" class="control-label"></label>
                @*<select asp-for="NroCancha" class ="form-control" asp-items="ViewBag.NroCancha"></select>*@
                @using (var db = new EmpresaContext())
                {
                    <select asp-for="NroCancha" class="form-control">
                        @foreach (var item in db.Cancha.ToList())
                        {
                            <option value="@item.NroCancha"> "@item.NombreCancha" </option>
                        }
                    </select>
                }
            </div>
            <div class="form-group">
                <label asp-for="FechaHora" class="control-label"></label>
                <input asp-for="FechaHora" class="form-control" />
                <span asp-validation-for="FechaHora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
